.produtos {
    display: flex;
    flex-direction: column;
}

.produtosTituloButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
}

.produtosTituloButton h1 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;

}

.produtosTituloButton a {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;

    cursor: pointer;

    background: #1863c5;
}

.produtosLista {
    padding: 1% 1% 1% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.produtosLista__element {
    width:11rem;

    margin: 1% 3%;
}

.produtosLista__element-edit {
    cursor: pointer;
}

.produtosLista__element-remove {
    cursor: pointer;
}

.produtosLista__element img{
    width: 11rem;
    box-shadow: 2px 5px 5px;
}

.produtosLista__element h1 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    margin: 8px 0 ;
}

.produtosLista__element p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;

    margin-bottom: 8px;
}

.produtosLista__element a {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #000000;

    text-decoration: none;
}




@media screen and (max-width: 699.9px) {
    .produtosTituloButton {
        padding: 20px 7%;
    }

    .produtosTituloButton__Titulo {
        width: 40%;
    }
    .produtosTituloButton__Titulo h1 {
        font-size: 22px;
    }

    .produtosLista__element {
        width: 42%;
    }

    .produtosLista__element img {
        width: 80%;
    }

    .produtosTituloButton__Button a{
        font-size: 13px;
    }
}

@media screen and (min-width:700px) and (max-width:849.9px) {
    .produtosTituloButton__Titulo h1 {
        font-size: 22px;
    }
}

@media screen and (min-width:855px) and (max-width:999.9px) {
    .produtosTituloButton {
        padding: 30px 9%;
    }
    .produtosTituloButton__Titulo h1 {
        font-size: 20px;
    }
    .produtosLista__element {
        margin-right: 8%;
    }
}