.produtoSimilares {
    display: flex;
    flex-direction: column;
    padding: 20px 6%;

    margin-bottom: 40px;
}

.produtoSimilaresTopo {
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}

.produtoSimilaresTopo h1 {
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: rgb(42, 42, 42);
}

.produtoSimilaresTopo a {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #1863c5;
    text-decoration: none;
    

}


.produtoSimilaresProdutos__Lista {
    display: flex;
    justify-content: space-between;
}

.produtoSimilaresProdutos__Lista-elemento {
    width: 20%;
}

.produtoSimilaresProdutos__Lista-elemento img {
    box-shadow: 2px 5px 5px;
    width: 80%;
}

.produtoSimilaresProdutos__Lista-elemento h1 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;

    margin: 8px 0 ;

}

.produtoSimilaresProdutos__Lista-elemento p {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;

    margin-bottom: 8px;
}

.produtoSimilaresProdutos__Lista-elemento a {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #2A7AE4;

    text-decoration: none;
}










/*MOBILE*/

@media screen and (max-width:699.9px) {
    .produtoSimilaresProdutos__Lista-elemento:nth-child(5), .produtoSimilaresProdutos__Lista-elemento:nth-child(6) {
        display: none;
    }
    .produtoSimilaresTopo h1 {
        font-size: 22px;
    }
    

    .produtoSimilaresProdutos__Lista {
        flex-wrap: wrap;
    }

    .produtoSimilaresProdutos__Lista-elemento {
        width: 44%;
    }

    .produtoSimilaresProdutos__Lista-elemento img {
        width: 100%;
    }
}


/*MOBILE*/







/*TABLET*/



@media (min-width: 700px) and (max-width: 999.9px) {

    .produtoSimilares {
        padding: 10px 2%;
    }

    .produtoSimilaresProdutos__Lista-elemento:nth-child(5), .produtoSimilaresProdutos__Lista-elemento:nth-child(6) {
        display: none;
    }
}

/*TABLET*/













/*DESKTOP*/

@media  (max-width: 1200px) and (min-width: 1000px) {
    .produtoSimilaresProdutos__Lista-elemento img {
        width: 80%;
    }
}

/*DESKTOP*/